body{
    font-size: 16px;
}
table.danhsach{
    width: 80%;
    border: 1px solid black ;
    border-collapse: collapse;
    margin: 20px auto;
}
table.danhsach th,table.danhsach td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
table.danhsach th{
    border: 1px solid black;
    border-collapse: collapse;
    font-weight: 700;
    padding: 20px 15px;
    font-size: larger;
    background-color: rgb(70, 124, 16);
    color: antiquewhite;
}
table.danhsach td{
    border: 1px solid;
    border-collapse: collapse;
    background-color: rgb(127, 199, 109);
    font-weight: 500;
    padding: 10px;
    font-size: larger;
    text-align: center;
}
table.search {
    text-align: center;
    margin: 20px auto;
    border-collapse: collapse;
}
table.search td {
    width: 30%;
    border: 1px ;
    background-color: rgb(197, 247, 185);
    text-align: center; /* Căn giữa nội dung */
    padding: 10px 10px;
    border-radius: 8px; /* Bo tròn viền */
}
table.search input[type="text"] {
    padding: 10px 10px;
    width: 50%;
    height: 30px;
    border: 1px solid rgb(68, 119, 45); /* Viền màu xanh đậm */
    border-radius: 4px;
    margin-right: 10px;
    font-size: medium;

}
table.search input[type="submit"],
table.search input[type="button"] {
    padding: 10px 10px;
    margin: 5px;
    border: 1px solid rgb(68, 119, 45); 
    background-color:  rgb(186, 236, 162);
    color: rgb(23, 71, 0);
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
    height: 30px;
    font-size: medium;
}

table.search input[type="submit"]:hover,
table.search input[type="button"]:hover {
    background-color: darkolivegreen; /* Nền màu xanh đậm khi hover */
    color: white; /* Chữ màu trắng khi hover */
}
div.add{
    font-family: 20px;
    padding-left: 150px;
    font-size: larger;
}